.remove-icon:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 75%;
  top: 50%;
  left: 3px;
  margin-top: -1px;
  background: #fff;
  transform: rotate(45deg);
}

.remove-icon:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 75%;
  top: 50%;
  left: 3px;
  margin-top: -1px;
  background: #fff;
  transform: rotate(-45deg);
}
