.text-field__wrapper {
  display: flex;
}

.text-field__wrapper .text-input label {
  padding: 11px 0 0 20px;
}

#text-field-input {
  border: 1px solid black;
  padding: 15px;
}

.search {
  position: relative;
  right: 35px;
  top: 14px;
}
