.evenImg0 {
  /*height: 220px;*/
  /*width: 280px;*/
  width: 100%;
}

.evenImg1 {
  /*height: 130px;*/
  /*width: 120px;*/
  /*object-fit: contain;*/
  /*object-position: 100%;*/
  width: 50%;
}

.evenImg2 {
  /*height: 130px;*/
  /*width: 160px;*/
  /*object-fit: contain;*/
  /*object-position: 0;*/
  width: 50%;
}

.oddImg0 {
  /*height: 220px;*/
  /*width: 280px;*/
  width: 100%;
}

.oddImg1 {
  /*height: 130px;*/
  /*width: 120px;*/
  /*object-fit: contain;*/
  /*object-position: 100%;*/
  width: 50%;
}

.oddImg2 {
  /*height: 130px;*/
  /*width: 160px;*/
  /*object-fit: contain;*/
  /*object-position: 0;*/
  width: 50%;
}

.evenImg0,
.oddImg0 {
  display: block;
  width: 100%;
  object-fit: contain;
}
